
@import "common_sections.scss";

#sh-writeup-email-course {

  h2 {
    text-align: center;
    font: 28px 'Roboto Slab', serif;
    font-weight: 700;
    @include mobile-big-headline {}
  }

  h3 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 400;
    @include mobile-small-headline {}
  }

  p {
    font: 18px 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }


  li {
    font: 18px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    @include mq-personal {
      @include mobile-small-copy;
    }
  }

  #course-content {
    margin-left: -40px;
    ul {
      list-style-type: none;
    }

  }

  #email-course-section {
    margin-top: -55px;

    #course-pic-caption{
      font: 14px 'Source Sans Pro', sans-serif;
      font-weight: 300;
      margin-top: 20px;
    }
  }

  #course-testimonials {
    margin-top: -25px;

    .test-photos {
      text-align:center;
      margin: -50px 0 -20px 0;

      img{
        width: 150px;
      }
    }

    .course-quote p {
      font-style: italic;
      @include mq-personal {
        @include mobile-small-copy;
      }
    }

  }

  #course-long-copy {
    @include long-form-letter {}
  }

}

