/*-------FILE ORGANIZATION--------------*/

/*  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com) */
/*  Media Queries  */
/*  Common to all sections  */
/*  Individual sections  */
/*----Header -------------------*/
/*----Intro ----------------*/
/*----Sub-Intro----------------*/
/*----How SH Works------------*/
/*----Benefits --------------*/
/*----SH-Schedule----------*/
/*----Testimonials----------*/
/*----Profile--------------------*/
/*----Network--------------------*/
/*----Case Studies---------------*/
/*----Writeup------------------*/
/*  Print styles  */


/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

img.responsive-image{
  max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clear{
    clear: both;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

// For tabelts and mid-sized mobile devices. Typically 54em; but set here at 767px for Bootstrap compatibility.

@mixin mq-tablet {
  @media (max-width: 54em) {
    @content;
  }
}

// For smartphones and personal (small) mobile devices. Typically 30em.
@mixin mq-personal {
  @media  (max-width: 35em) {
    @content;
  }
}

@mixin mobile-readable-font {
  font: 16px 'Roboto Slab', serif;
  font-weight: 300;
}

@mixin mobile-big-headline {
  font: 24px 'Roboto Slab', serif;
  font-weight: 400;
}
@mixin mobile-small-headline {
  font: 20px 'Roboto Slab', serif;
  font-weight: 300;
}

@mixin mobile-big-copy {
  font: 20px 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@mixin mobile-small-copy {
  font: 16px 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

@mixin mobile-quote {
  font: 16px 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: italic;
}



@mixin mobile-table-font {
  font: 12px 'Roboto Slab', serif;
  font-weight: 300;
}


/* ==========================================================================
    Common to all sections
   ========================================================================== */

$orange: #D35400;
$red: #C0392B;
$blue: #2980B9;
$yellow: #f1c40f;

.title h1{
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center;

  @include mq-personal {
    font: 30px 'Roboto Slab', serif;
  }
}

.title-s h1{
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center;

  @include mq-personal {
    font: 24px 'Roboto Slab', serif;
  }
}

.title-dark h1{
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center;

  @include mq-personal {
    font: 30px 'Roboto Slab', serif;
  }
}

.title-dark-s h1{
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center;
  @include mq-personal {
    font: 24px 'Roboto Slab', serif;
  }
}

.title-dark-xs h1{
  font: 30px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center;

  @include mq-personal {
    font: 24px 'Roboto Slab', serif;
  }
}


.td-title{
  font: 14px 'Roboto Slab', serif;
  color: #ffffff;
  margin: 10px 0 10px 0;
  text-align: center;

  @include mq-personal {
    @include mobile-table-font
  }
}

td{
  padding: 8px;
}

td p{
  font: 14px 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0;

  @include mq-personal {
    @include mobile-table-font
  }
}

.td-center-gray p{
  font: 14px 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0;

  @include mq-personal {
    @include mobile-table-font
  }
}

.td-center-white p{
  font: 14px 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0;

  @include mq-personal {
    @include mobile-table-font
  }
}

.content-container{
  padding: 20px 0 20px 0;
}

.line-separator{
  background: url(../img/line-separator.jpg) repeat-x;
  height: 4px;
  width: 100%;
}

.line-separator-white{
  background: #ffffff;
  height: 4px;
  width: 100%;
}

.try-button-block{
  text-align: center;
}

.trial-btn{
  margin: 0 0 20px 0;
  text-align: center;
  background: #27ae60;
  display: inline-block;
  padding: 10px 20px;

  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;

  -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);

  &:hover {
      background: #30c26e;
 }
  a {

    font: 28px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

    @include mq-personal {
    font: 14px 'Roboto Slab', serif;
    }

  }
}

.not-phone {
  @include mq-personal {
    display: none;
  }

}

.hide {
  display: none;
}

.centered-text {
  text-align: center;
}

#photo-credit {
  font-size: 14px;
  margin: 20px 10px;
}

/* ==========================================================================
   Individual sections
   ========================================================================== */


/*----- Header -------------------*/

header{
  background: $orange;
//  height: auto;
  padding-top: 7px;
  font-family: 'Roboto Slab', serif;

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li{
    float: left;
    margin: 0 10px 0 0px;
  }

  a, a:hover {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;

    @include mq-personal {
    font-size: 10px;
    }
  }

  a:hover{
    color: #f1c40f;
  }

  #logo{
    float: left;
    @include mq-personal {
      max-width: 20%;
    }
  }

  #head-login{
    float: right;
  }

//  #page-navbar {
//    text-align: center;
//    padding-top: 0px;
//
//    .content-container{
//      padding-top: 0;
//    }
//
//    ul {
//      display: inline-block;
//    }
//
//    li{
//      margin: 0 20px 0 0px;
//    }
//
//
//    a, a:hover {
//      font-size: 20px;
//
//      @include mq-personal {
//      font-size: 1px;
//      }
//    }
//  }
}


/*--------End of Header --------*/



/*--------Intro ----------------*/


#intro{
  width: 100%;
  background: #d35400;
//  padding: 30px 0 0 0;
  text-align: center;

  h1 {
    font: 40px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;

    @include mq-personal {
      font: 24px 'Roboto Slab', serif;
    }
  }

  h2 {
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 40px 0 -10px 0;

    @include mq-personal {
      font-size: 18px;
      font-weight: 300;
    }
  }

}



/*-------End of Intro--------------*/


/*-------Promise-Intro----------------*/

/*--------Tour-----------------------*/

#tour {
  background-color: $red;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
//  .content-container{
//    padding-top: 0;
//  }

  h1 {
    margin: -10px 0;
    display: none;
    font: 40px 'Roboto Slab', serif;

  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  li{
    float: left;
    margin: 0 20px 0 0px;
  }

  a, a:hover {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;

    @include mq-personal {
    font-size: 10px;
    }
  }

  a:hover{
    color: #f1c40f;
  }

}

/*--------End Tour----------------*/


#promise-intro{

//  background-color: $orange;
//  color: #ffffff;

  h2 {
    font: 30px 'Roboto Slab', serif;
    font-weight: 400;

    @include mq-personal {
      @include mobile-small-headline;
    }
  }


  h3 {
//    color: #ffffff;
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-top: -10px;
    @include mq-personal {
      @include mobile-small-copy;
    }
  }

  #sh-pitch {
    margin: 0 50px;
    text-align: center;
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: 400;

    @include mq-personal {
      @include mobile-small-copy;
    }
  }

  .pain-point {
    margin: 0 0 40px 0;
  }
}





/*-------End of Promise-Intro----------------*/



/*-------How SH Works------------*/


#how-sh-works{
  background: #2980b9;
  padding: 20px 0 20px 0;
//  text-align: center;

  h3{
    font: 26px 'Roboto Slab', serif;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0 10px 0;

    @include mq-personal {
      @include mobile-small-headline;
    }
  }

  p {
    color: #ffffff;
    font: 20px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    @include mq-personal {
      @include mobile-small-copy;
    }
  }

  .step-block {
    margin-bottom: 20px;
  }

  .step-copy {
    margin-top: 50px;
  }

  .pic-image-box {

  }

  #step-1-pic img {
    width: 90%;
  }

  #step-2-pic img {
    border: 5px solid #F7FAFC;
    width: 90%;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  #step-3-pic img {
    border: 5px solid #F7FAFC;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  #step-4-pic img {
    width: 90%;
  }

  #mini-testimonials-section {
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;


    .mini-testi-pic {
      float: left;
      margin-right: 15px;

      img {
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
      }
    }

    .mini-testi-box{
    }

    .mini-testi-name{
      font: 16px 'Roboto Slab', serif;
      margin: 0;
    }

    .mini-testi-text{
      font: 18px 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #362f2d;
      @include mq-personal {
        @include mobile-quote;
      }

    }
  }


}


/*-------End How SH Works--------*/

/*--------Case Studies--------------------*/

#case-studies {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;

  #sh-case-subtitle h2 {
    font-weight: 300;
    @include mq-personal {
      font-size: 16px;
    }
  }

  p {
    font-size: 18px;
    font-weight: 300;
//    color: #362f2d;
    margin: 10px 0 10px 0;
  }

  .case-header {
    text-align: center;
    @include mq-personal {
      font-size: 20px;
    }
  }

  .case-pic img {
    width: 100%;
    margin: 0 15px 20px 0;
    max-width: 290px;
    -webkit-boxrder-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;

    @include mq-personal {
      width: 50%;
    }
  }

  .case-text p {
    font-size: 18px;
    padding-bottom: 5px;

    a {
      color: $orange;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include mq-personal {
      @include mobile-small-copy;
    }

  }

  .case-name {
    font-size: 20px;
    margin: -5px 0px 10px 10px;
    @include mq-personal {
      @include mobile-big-copy;
    }

  }

  .case-quote {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
//    color: #362f2d;
    margin: 20px 0 10px 0;
    @include mq-personal {
      @include mobile-quote;
    }
  }

//  .case-read-more {
//    text-align: right;
//    font-size: 14px;
//    margin-right: 10px;
//      a {
//      color: $orange;
//      text-decoration: none;
//      &:hover {
//        text-decoration: underline;
//      }
//    }
//  }

  @include mq-personal {
    @include mobile-readable-font;
    width: 100%;
    padding: 0px 0px 0px 0px;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #362f2d;
      margin: 10px 0 10px 0;
    }
  }
}

/*--------End Case Studies--------------------*/

/*--------Course Link----------*/

#course-link {
  background: #f1c40f;

  #course-box {
    width: 100%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .course-pic{
    float: left;
    width: 10%;

    img{
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    }
  }

  .course-copy{
    float: left;
    margin: 0 5%;
    width: 50%;
    h3{
      margin: 0;
      font: 18px 'Roboto Slab', serif;
      font-weight: 700;
      color: #362f2d;
    }

    p{
      font-family: 'Source Sans Pro', sans-serif;
      margin: 10px 0;
    }
  }



  .course-btn{
    margin: 15px 0 0 0;
    text-align: center;
    background: #3498DB;
    float: right;
    padding: 10px 20px;
//    width: 20%;

    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;

    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);

    &:hover {
        background: #4EB2F5;
   }
    a {

      font: 20px 'Roboto Slab', serif;
//      font-weight: bold;
      color: #ffffff;
      text-decoration: none;

      @include mq-personal {
      font: 14px 'Roboto Slab', serif;
      }

    }
  }
}



/*--------end Course Link------/


/*--------Features --------------*/

#benefits-of-sh{
  background: #c0392b;
  font-family: 'Source Sans Pro', sans-serif;

  a {
    color: $orange;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
   }
  }



  .benefits-desc{
    margin-left: 5%;
    width: 85%;
    float: right;

    h2{
      font: 24px 'Roboto Slab', serif;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 0px 0;

      @include mq-personal {
        @include mobile-readable-font;
      }
    }

    h3{
      font-size: 20px;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 15px 0;

      @include mq-personal {
        @include mobile-readable-font;
      }
    }
  }
}

#benefits-box{
  background: #ffffff;
  margin: 20px auto 20px auto;
  padding: 30px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.benefits-icon{
  width: 10%;
  float: left;
}


.benefits-b-e-c{
  margin: 20px 0 20px 0;
}


/*--------End Features---------*/




/*--------SH-Schedule----------*/

#sh-schedule{

  #sh-sched-desc-c{

    h2{
      font: 20px  'Source Sans Pro', sans-serif;
      font-weight: 400;
      color: #362f2d;
      margin: 30px 0 10px 0;
    }

    h3{
      font: 20px 'Roboto Slab', serif;
      font-weight: bold;
      color: #362f2d;
      margin: 5px 0 15px 0;

      @include mq-personal {
        @include mobile-readable-font;
        font-weight: 400;
      }
    }

    h4{
      font: 15px 'Source Sans Pro', sans-serif;
      font-weight: 400;
      color: #362f2d;
      margin-top: -6px;

      @include mq-personal {
        font: 12px 'Roboto Slab', serif;
        font-weight: 300;
      }
    }
  }

  #sh-quote {
    margin:40px 0px 0 10px;
    font: 18px 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    @include mq-personal {
      @include mobile-quote;
    }
  }

  #sh-sched-desc-left{
    padding-right: 20px;
    float: left;
  }

  #sh-sched-desc-right{
    float: right;
  }

  .sh-sched-desc-e{
    margin: 5px 0 5px 0;
    padding: 5px;
  }

  .sh-sched-desc-icon{
    float: left;
    width: 10%;
    padding: 8px 0 8px 0;
  }

  .sh-sched-desc-text{
    float: right;
    margin-left: 5%;
    width: 85%;
  }

}

/*-------End SH-Scheudle--------*/


/*--------Testimonials----------*/

#sh-testimonials{
  background: $yellow;
}

#sh-testimonials-subheading{
  margin: -20px 0 0 0;

  h4 {
    font: 18px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #362f2d;
//    margin: -20px 0 0px 0;

    @include mq-personal {
      @include mobile-readable-font;
    }
  }

  #test-quote {
    margin:0px 0px 0 10px;
    font: 18px 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    @include mq-personal {
      @include mobile-quote;
    }
  }
}

#sh-t-table{
  background: #ffffff;
  width: 100%;
  margin: -30px 5% 0 5%;
  overflow: hidden;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}


.table-head{
  background: #3498db;
}

.td-gray{
  background: #e5e5e5;
}

.td-center-gray{
  text-align: center;
  background: #e5e5e5;
}

.td-center-white{
  text-align: center;
  background: #ffffff;
}

#written-testimonials-section {
  text-align: center;
  margin: -50px 0;

  h2{
    font: 24px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0;

    @include mq-personal {
      @include mobile-readable-font;
    }
  }


  #testimonial-ss{
    width: 100%;
    background: #fff;
    margin: 15px auto 10px auto;
    padding: 20px 20px 0px 20px;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
  }

  .testi-pic{
    float: left;
    width: 10%;

    img {
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;


    }

  }

  .testi-box{
    width: 88%;
    margin-left: 2%;
    float: right;
    text-align: left;
    margin-bottom: 20px;
  }

  .testi-name{
    font: 16px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    float: left;
  }

  .testi-loc{
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0;
  }

  .testi-text{
    font: 16px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #362f2d;
    margin: 10px 0 10px 0;
  }
}


/*--------End Testimonials----------*/


/*--------Profile--------------------*/

#sh-profile {
  font-family:  'Source Sans Pro', sans-serif;

  #profile-details {
    margin: -20px auto;

    h3 {
      font-size: 24px;
      font-weight: 400;
      @include mq-personal {
        @include mobile-small-headline;
      }

    }
  }

  #sh-profile-screenshot{
    padding-right: 15%;
  }

  #test-quote {
    margin:40px 0px 40px 10px;
    font: 18px 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
    @include mq-personal {
      @include mobile-quote;
    }
  }

}
/*------End Profile-----------------*/


/*--------Widget--------------------*/

#widget{
  width: 100%;
  background: #2980b9;
  text-align: center;

  .widget-block {
    margin-left: 15%;
    width: 70%;
    text-align: center;
  }

  .widget-box {
    width: 50%;
    background-color: #ffffff;
    padding: 1px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  h2 {
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 20px 0;

    @include mq-personal {
      @include mobile-small-copy;
    }

  }
}

/*--------End Widget--------------------*/




/*--------Open Letter--------------*/

#open-letter {
  font-family: 'Source Sans Pro', sans-serif;

  #letter-headline{
    background-color: $orange;
    padding: 10% 0;
    text-align: center;
    color: #fff;

    h1 {
      font-size: 50px;
      font-weight: bold;
      color: #ffffff;
      margin: 0;

      @include mq-personal {
        @include mobile-big-headline;

      }
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      color: #ffffff;
      margin: 120px 0 70px 0;

      @include mq-personal {
        @include mobile-small-copy;

      }
    }
  }

  #kevin-message {
    h1 {
      font-size: 36px;
      text-align: center;
      margin: 40px 0 20px 0;
      @include mq-personal {
        @include mobile-big-copy;
      }
    }

    h3 {
      font-size: 24px;
      text-align: center;
      font-weight: 300;
      margin: 40px 0 0 0;
      @include mq-personal {
        @include mobile-small-copy;
      }

    }
  }

  #letter-copy {
//    font-family: arial;
    text-align: center;

    #copy-body{
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px 7%;
    margin: 0 7%;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;


      #letter-heading {
        margin: 50px 0;
        text-align: center;
        font-size: 40px;
        @include mq-personal {
          @include mobile-big-headline;
        }

        }

      h1 {
        text-align: center;
        margin-top: 60px;
        font-size: 36px;
        @include mq-personal {
          @include mobile-big-headline;
        }
      }

      h2 {
        font-size: 30px;
        margin: 40px 0 10px 0;
        @include mq-personal {
          @include mobile-big-copy;
        }

      }


      blockquote {
        font-style: italic;
        @include mq-personal {
          @include mobile-quote;
      }
    }

      p {
        font-size: 18px;
        font-weight: 300;
        @include mq-personal {
          @include mobile-small-copy;
      }

      }

    }

    #gary{
      margin: 50px 0;

      #gary-pic {
        float: left;
        width: 40%;
        img {
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        @include mq-personal {
          display: none;
      }

        }
      }

      #gary-quote {
        font-style: italic;
        font-size: 20px;
        float: left;
        margin: 0 0 0 5%;
        width: 50%;
        @include mq-personal {
          @include mobile-quote;
      }

      }

    }


  }

  #bottom-faq {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
  }

}

/*--------End Open Letter---------*/



/* ==========================================================================
   Print styles
   ========================================================================== */

/*---I'm not sure what the stuff below does...if anything at all. --Kevin 2/10/2014*/

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}



@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}