/*-------FILE ORGANIZATION--------------*/
/*  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com) */
/*  Media Queries  */
/*  Common to all sections  */
/*  Individual sections  */
/*----Header -------------------*/
/*----Intro ----------------*/
/*----Sub-Intro----------------*/
/*----How SH Works------------*/
/*----Benefits --------------*/
/*----SH-Schedule----------*/
/*----Testimonials----------*/
/*----Profile--------------------*/
/*----Network--------------------*/
/*----Case Studies---------------*/
/*----Writeup------------------*/
/*  Print styles  */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

img.responsive-image {
  max-width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.clear {
  clear: both; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
    Common to all sections
   ========================================================================== */
.title h1 {
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title h1 {
      font: 30px 'Roboto Slab', serif; } }

.title-s h1 {
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-s h1 {
      font: 24px 'Roboto Slab', serif; } }

.title-dark h1 {
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark h1 {
      font: 30px 'Roboto Slab', serif; } }

.title-dark-s h1 {
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark-s h1 {
      font: 24px 'Roboto Slab', serif; } }

.title-dark-xs h1 {
  font: 30px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark-xs h1 {
      font: 24px 'Roboto Slab', serif; } }

.td-title {
  font: 16px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0 10px 0;
  text-align: center; }
  @media (max-width: 35em) {
    .td-title {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

td {
  padding: 8px; }

td p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    td p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.td-center-gray p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    .td-center-gray p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.td-center-white p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    .td-center-white p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.content-container {
  padding: 20px 0 20px 0; }

.line-separator {
  background: url(../img/line-separator.jpg) repeat-x;
  height: 4px;
  width: 100%; }

.line-separator-white {
  background: #ffffff;
  height: 4px;
  width: 100%; }

.try-button-block {
  text-align: center; }

.trial-btn {
  margin: 0 0 20px 0;
  text-align: center;
  background: #27ae60;
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .trial-btn:hover {
    background: #30c26e; }
  .trial-btn a {
    font: 28px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none; }
    @media (max-width: 35em) {
      .trial-btn a {
        font: 14px 'Roboto Slab', serif; } }

@media (max-width: 35em) {
  .not-phone {
    display: none; } }

.hide {
  display: none; }

.centered-text {
  text-align: center; }

#photo-credit {
  font-size: 14px;
  margin: 20px 10px; }

/* ==========================================================================
   Individual sections
   ========================================================================== */
/*----- Header -------------------*/
header {
  background: #c0392b;
  padding-top: 7px;
  font-family: 'Roboto Slab', serif; }
  header ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  header li {
    float: left;
    margin: 0 10px 0 0px; }
  header a, header a:hover {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff; }
    @media (max-width: 35em) {
      header a, header a:hover {
        font-size: 10px; } }
  header a:hover {
    color: #f1c40f; }
  header #logo {
    float: left; }
    @media (max-width: 35em) {
      header #logo {
        max-width: 20%; } }
  header #head-login {
    float: right; }
  header #page-navbar {
    text-align: center;
    padding-top: 0px; }
    header #page-navbar .content-container {
      padding-top: 0; }
    header #page-navbar ul {
      display: inline-block; }
    header #page-navbar li {
      margin: 0 20px 0 0px; }
    header #page-navbar a, header #page-navbar a:hover {
      font-size: 20px; }
      @media (max-width: 35em) {
        header #page-navbar a, header #page-navbar a:hover {
          font-size: 1px; } }

/*--------End of Header --------*/
/*--------Intro ----------------*/
#intro {
  width: 100%;
  background: #d35400;
  padding: 30px 0 0 0;
  text-align: center; }
  #intro h1 {
    font: 50px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0; }
    @media (max-width: 35em) {
      #intro h1 {
        font: 24px 'Roboto Slab', serif; } }
  #intro h2 {
    font: 26px 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 20px 0; }
    @media (max-width: 35em) {
      #intro h2 {
        font-size: 18px;
        font-weight: 300; } }
  #intro #page-nav span.link {
    font: 26px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff; }
    @media (max-width: 35em) {
      #intro #page-nav span.link {
        font-size: 18px;
        font-weight: 300; } }

/*-------End of Intro--------------*/
/*-------Promise-Intro----------------*/
#promise-intro h2 {
  font: 30px 'Roboto Slab', serif;
  font-weight: 400; }
#promise-intro h3 {
  font: 24px 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-top: -10px; }
#promise-intro .pain-point {
  margin: 40px 0; }

/*-------End of Promise-Intro----------------*/
/*-------Sub-Intro----------------*/
/*--------End Sub-Intro----------*/
/*-------How SH Works------------*/
#how-sh-works {
  background: #2980b9;
  padding: 20px 0 20px 0; }
  #how-sh-works h3 {
    font: 26px 'Roboto Slab', serif;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #how-sh-works h3 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 20px; } }
  #how-sh-works p {
    color: #ffffff;
    font: 20px 'Source Sans Pro', sans-serif;
    font-weight: 300; }
    @media (max-width: 35em) {
      #how-sh-works p {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }
  #how-sh-works .step-block {
    margin-bottom: 20px; }
  #how-sh-works .step-copy {
    margin-top: 50px; }
  #how-sh-works #step-1-pic img {
    width: 90%; }
  #how-sh-works #step-2-pic img {
    border: 5px solid #F7FAFC;
    width: 90%;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #how-sh-works #step-3-pic img {
    border: 5px solid #F7FAFC;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #how-sh-works #step-4-pic img {
    width: 90%; }
  #how-sh-works #mini-testimonials-section {
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
    #how-sh-works #mini-testimonials-section .mini-testi-pic {
      float: left;
      margin-right: 15px; }
      #how-sh-works #mini-testimonials-section .mini-testi-pic img {
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px; }
    #how-sh-works #mini-testimonials-section .mini-testi-name {
      font: 16px 'Roboto Slab', serif;
      margin: 0; }
    #how-sh-works #mini-testimonials-section .mini-testi-text {
      font: 18px 'Source Sans Pro', sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #362f2d; }

/*-------End How SH Works--------*/
/*--------Case Studies--------------------*/
#case-studies {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif; }
  #case-studies #sh-case-subtitle h2 {
    font-weight: 300; }
    @media (max-width: 35em) {
      #case-studies #sh-case-subtitle h2 {
        font-size: 16px; } }
  #case-studies p {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0 10px 0; }
  #case-studies .case-header {
    text-align: center; }
    @media (max-width: 35em) {
      #case-studies .case-header {
        font-size: 20px; } }
  #case-studies .case-pic img {
    float: left;
    width: 100%;
    margin: 0 15px 20px 0;
    max-width: 290px;
    -webkit-boxrder-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px; }
  #case-studies .case-text p {
    font-size: 18px;
    padding-bottom: 5px; }
    #case-studies .case-text p a {
      color: #d35400;
      text-decoration: none; }
      #case-studies .case-text p a:hover {
        text-decoration: underline; }
  #case-studies .case-name {
    font-size: 20px;
    margin: -5px 0px 10px 10px; }
  #case-studies .case-quote {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    margin: 20px 0 10px 0; }
    @media (max-width: 35em) {
      #case-studies .case-quote {
        font-size: 18px; } }
  @media (max-width: 35em) {
    #case-studies {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300;
      width: 100%;
      padding: 0px 0px 0px 0px; }
      #case-studies p {
        font-size: 16px;
        font-weight: 400;
        color: #362f2d;
        margin: 10px 0 10px 0; } }

/*--------End Case Studies--------------------*/
/*--------Course Link----------*/
#course-link {
  background: #f1c40f; }
  #course-link #course-box {
    width: 100%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #course-link .course-pic {
    float: left;
    width: 10%; }
    #course-link .course-pic img {
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
  #course-link .course-copy {
    float: left;
    margin: 0 5%;
    width: 50%; }
    #course-link .course-copy h3 {
      margin: 0;
      font: 18px 'Roboto Slab', serif;
      font-weight: 700;
      color: #362f2d; }
    #course-link .course-copy p {
      font-family: 'Source Sans Pro', sans-serif;
      margin: 10px 0; }
  #course-link .course-btn {
    margin: 15px 0 0 0;
    text-align: center;
    background: #3498DB;
    float: right;
    padding: 10px 20px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
    #course-link .course-btn:hover {
      background: #4EB2F5; }
    #course-link .course-btn a {
      font: 20px 'Roboto Slab', serif;
      color: #ffffff;
      text-decoration: none; }
      @media (max-width: 35em) {
        #course-link .course-btn a {
          font: 14px 'Roboto Slab', serif; } }

/*--------end Course Link------/


/*--------Features --------------*/
#benefits-of-sh {
  background: #c0392b;
  font-family: 'Source Sans Pro', sans-serif; }
  #benefits-of-sh a {
    color: #d35400;
    text-decoration: none; }
    #benefits-of-sh a:hover {
      text-decoration: underline; }
  #benefits-of-sh .benefits-desc {
    margin-left: 5%;
    width: 85%;
    float: right; }
    #benefits-of-sh .benefits-desc h2 {
      font: 24px 'Roboto Slab', serif;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 0px 0; }
      @media (max-width: 35em) {
        #benefits-of-sh .benefits-desc h2 {
          font: 16px 'Roboto Slab', serif;
          font-weight: 300; } }
    #benefits-of-sh .benefits-desc h3 {
      font-size: 20px;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 15px 0; }
      @media (max-width: 35em) {
        #benefits-of-sh .benefits-desc h3 {
          font: 16px 'Roboto Slab', serif;
          font-weight: 300; } }

#benefits-box {
  background: #ffffff;
  margin: 20px auto 20px auto;
  padding: 30px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.benefits-icon {
  width: 10%;
  float: left; }

.benefits-b-e-c {
  margin: 20px 0 20px 0; }

/*--------End Features---------*/
/*--------SH-Schedule----------*/
#sh-schedule #sh-sched-desc-c h2 {
  font: 20px  'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #362f2d;
  margin: 30px 0 10px 0; }
#sh-schedule #sh-sched-desc-c h3 {
  font: 20px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 5px 0 15px 0; }
  @media (max-width: 35em) {
    #sh-schedule #sh-sched-desc-c h3 {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300;
      font-weight: 400; } }
#sh-schedule #sh-sched-desc-c h4 {
  font: 15px 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #362f2d;
  margin-top: -6px; }
  @media (max-width: 35em) {
    #sh-schedule #sh-sched-desc-c h4 {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }
#sh-schedule #sh-sched-desc-left {
  padding-right: 20px;
  float: left; }
#sh-schedule #sh-sched-desc-right {
  float: right; }
#sh-schedule .sh-sched-desc-e {
  margin: 5px 0 5px 0;
  padding: 5px; }
#sh-schedule .sh-sched-desc-icon {
  float: left;
  width: 10%;
  padding: 8px 0 8px 0; }
#sh-schedule .sh-sched-desc-text {
  float: right;
  margin-left: 5%;
  width: 85%; }

/*-------End SH-Scheudle--------*/
/*--------Testimonials----------*/
#sh-testimonials {
  background: #f1c40f; }

#sh-testimonials-subheading {
  margin: -20px 0 0 0; }
  #sh-testimonials-subheading h4 {
    font: 18px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #362f2d; }
    @media (max-width: 35em) {
      #sh-testimonials-subheading h4 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }

#sh-t-table {
  background: #ffffff;
  width: 100%;
  margin: -30px 5% 0 5%;
  overflow: hidden;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.table-head {
  background: #3498db; }

.td-gray {
  background: #e5e5e5; }

.td-center-gray {
  text-align: center;
  background: #e5e5e5; }

.td-center-white {
  text-align: center;
  background: #ffffff; }

#written-testimonials-section {
  text-align: center;
  margin: -40px; }
  #written-testimonials-section h2 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #written-testimonials-section h2 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }
  #written-testimonials-section #testimonial-ss {
    width: 100%;
    background: #fff;
    margin: 15px auto 10px auto;
    padding: 20px 20px 0px 20px;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  #written-testimonials-section .testi-pic {
    float: left;
    width: 10%; }
    #written-testimonials-section .testi-pic img {
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
  #written-testimonials-section .testi-box {
    width: 88%;
    margin-left: 2%;
    float: right;
    text-align: left;
    margin-bottom: 20px; }
  #written-testimonials-section .testi-name {
    font: 16px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    float: left; }
  #written-testimonials-section .testi-loc {
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0; }
  #written-testimonials-section .testi-text {
    font: 16px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #362f2d;
    margin: 10px 0 10px 0; }

/*--------End Testimonials----------*/
/*--------Profile--------------------*/
#sh-profile {
  font-family: 'Source Sans Pro', sans-serif; }
  #sh-profile #profile-details {
    margin: -20px auto; }
    #sh-profile #profile-details h3 {
      font-size: 24px;
      font-weight: 400; }
  #sh-profile #sh-profile-screenshot {
    padding-right: 15%; }
  @media (max-width: 35em) {
    #sh-profile {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300;
      text-align: left;
      font: 14px 'Roboto Slab', serif; } }

/*------End Profile-----------------*/
/*--------Widget--------------------*/
#widget {
  width: 100%;
  background: #2980b9;
  text-align: center; }
  #widget .widget-block {
    margin-left: 15%;
    width: 70%;
    text-align: center; }
  #widget .widget-box {
    width: 50%;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #widget h2 {
    font: 24px 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 30px 0 30px 0; }
    @media (max-width: 35em) {
      #widget h2 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300;
        text-align: left;
        font: 16px 'Roboto Slab', serif;
        margin: 10px 0 10px 0; } }

/*--------End Widget--------------------*/
/*--------Open Letter--------------*/
#open-letter {
  font-family: 'Source Sans Pro', sans-serif; }
  #open-letter #letter-headline {
    background-color: #d35400;
    padding: 100px;
    text-align: center;
    color: #fff; }
    #open-letter #letter-headline h1 {
      font-size: 50px;
      font-weight: bold;
      color: #ffffff;
      margin: 0; }
      @media (max-width: 35em) {
        #open-letter #letter-headline h1 {
          font-size: 24px; } }
    #open-letter #letter-headline h2 {
      font-size: 24px;
      font-weight: 300;
      color: #ffffff;
      margin: 120px 0 70px 0; }
      @media (max-width: 35em) {
        #open-letter #letter-headline h2 {
          font-size: 18px;
          font-weight: 300; } }
  #open-letter #kevin-message h1 {
    font-size: 36px;
    text-align: center;
    margin: 40px 0 20px 0; }
    @media (max-width: 35em) {
      #open-letter #kevin-message h1 {
        font-size: 24px; } }
  #open-letter #kevin-message h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 40px 0 0 0; }
  #open-letter #letter-copy {
    text-align: center; }
    #open-letter #letter-copy #copy-body {
      text-align: left;
      background-color: #f0f0f0;
      padding: 10px 7%;
      margin: 0 7%;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
      #open-letter #letter-copy #copy-body #letter-heading {
        margin: 50px 0;
        text-align: center;
        font-size: 40px; }
      #open-letter #letter-copy #copy-body h1 {
        text-align: center;
        margin-top: 60px;
        font-size: 36px; }
      #open-letter #letter-copy #copy-body h2 {
        font-size: 30px;
        margin: 40px 0 10px 0; }
      #open-letter #letter-copy #copy-body blockquote {
        font-style: italic; }
      #open-letter #letter-copy #copy-body p {
        font-size: 18px;
        font-weight: 300; }
    #open-letter #letter-copy #gary {
      margin: 50px 0; }
      #open-letter #letter-copy #gary #gary-pic {
        float: left;
        width: 40%; }
        #open-letter #letter-copy #gary #gary-pic img {
          -webkit-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px; }
      #open-letter #letter-copy #gary #gary-quote {
        font-style: italic;
        font-size: 20px;
        float: left;
        margin: 0 0 0 5%;
        width: 50%; }
  #open-letter #bottom-faq {
    text-align: center;
    margin: 50px 0;
    font-size: 20px; }

/*--------End Open Letter---------*/
/* ==========================================================================
   Print styles
   ========================================================================== */
/*---I'm not sure what the stuff below does...if anything at all. --Kevin 2/10/2014*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
