/*-------FILE ORGANIZATION--------------*/
/*  HTML5 Boilerplate styles - h5bp.com (generated via initializr.com) */
/*  Media Queries  */
/*  Common to all sections  */
/*  Individual sections  */
/*----Header -------------------*/
/*----Intro ----------------*/
/*----Sub-Intro----------------*/
/*----How SH Works------------*/
/*----Benefits --------------*/
/*----SH-Schedule----------*/
/*----Testimonials----------*/
/*----Profile--------------------*/
/*----Network--------------------*/
/*----Case Studies---------------*/
/*----Writeup------------------*/
/*  Print styles  */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

img.responsive-image {
  max-width: 100%; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.clear {
  clear: both; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
    Common to all sections
   ========================================================================== */
.title h1 {
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title h1 {
      font: 30px 'Roboto Slab', serif; } }

.title-s h1 {
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-s h1 {
      font: 24px 'Roboto Slab', serif; } }

.title-dark h1 {
  font: 50px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark h1 {
      font: 30px 'Roboto Slab', serif; } }

.title-dark-s h1 {
  font: 36px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark-s h1 {
      font: 24px 'Roboto Slab', serif; } }

.title-dark-xs h1 {
  font: 30px 'Roboto Slab', serif;
  font-weight: bold;
  color: #362f2d;
  margin: 0;
  text-align: center; }
  @media (max-width: 35em) {
    .title-dark-xs h1 {
      font: 24px 'Roboto Slab', serif; } }

.td-title {
  font: 16px 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0 10px 0;
  text-align: center; }
  @media (max-width: 35em) {
    .td-title {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

td {
  padding: 8px; }

td p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    td p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.td-center-gray p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    .td-center-gray p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.td-center-white p {
  font: 16px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 0; }
  @media (max-width: 35em) {
    .td-center-white p {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300; } }

.content-container {
  padding: 20px 0 20px 0; }

.line-separator {
  background: url(../img/line-separator.jpg) repeat-x;
  height: 4px;
  width: 100%; }

.line-separator-white {
  background: #ffffff;
  height: 4px;
  width: 100%; }

.try-button-block {
  text-align: center; }

.trial-btn {
  margin: 0 0 20px 0;
  text-align: center;
  background: #27ae60;
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .trial-btn:hover {
    background: #30c26e; }
  .trial-btn a {
    font: 28px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none; }
    @media (max-width: 35em) {
      .trial-btn a {
        font: 14px 'Roboto Slab', serif; } }

@media (max-width: 35em) {
  .not-phone {
    display: none; } }

/* ==========================================================================
   Individual sections
   ========================================================================== */
/*----- Header -------------------*/
header {
  background: #c0392b;
  height: auto;
  padding-top: 7px; }

#logo {
  float: left; }
  @media (max-width: 35em) {
    #logo {
      max-width: 20%; } }

#head-login {
  float: right;
  text-align: right; }

#head-login ul {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0; }

#head-login li {
  float: left;
  margin: 0 10px 0 5px;
  color: #ffffff; }

#head-login a {
  text-decoration: none;
  font: 16px 'Roboto Slab', serif;
  font-weight: regular;
  color: #ffffff; }
  @media (max-width: 35em) {
    #head-login a {
      font: 12px 'Roboto Slab', serif; } }

#head-login a:hover {
  text-decoration: none;
  font: 16px 'Roboto Slab', serif;
  font-weight: regular;
  color: #f1c40f; }
  @media (max-width: 35em) {
    #head-login a:hover {
      font: 12px 'Roboto Slab', serif; } }

/*--------End of Header --------*/
/*--------Intro ----------------*/
#intro {
  width: 100%;
  background: #d35400;
  padding: 30px 0 0 0;
  text-align: center; }
  #intro h1 {
    font: 50px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0; }
    @media (max-width: 35em) {
      #intro h1 {
        font: 24px 'Roboto Slab', serif; } }
  #intro h2 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 70px 0; }
    @media (max-width: 35em) {
      #intro h2 {
        font: 18px 'Roboto Slab', serif;
        font-weight: 300; } }
  #intro h3 {
    font: 20px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 70px 0; }
    @media (max-width: 35em) {
      #intro h3 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }

/*-------End of Intro--------------*/
/*-------Sub-Intro----------------*/
#sub-intro h3 {
  font: 16px 'Roboto Slab', serif;
  color: #362f2d;
  margin: 10px 0 10px 0; }

#si-left {
  padding-right: 20px;
  margin-top: 50px; }

/*--------End Sub-Intro----------*/
/*-------How SH Works------------*/
#how-sh-works {
  background: #2980b9;
  padding: 20px 0 20px 0;
  text-align: center; }
  #how-sh-works h3 {
    font: 20px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #how-sh-works h3 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }

.h-sh-w-image {
  width: 50%;
  margin: 15px auto 15px auto;
  text-align: center; }
  @media (max-width: 35em) {
    .h-sh-w-image {
      width: 100%; } }

/*-------End How SH Works--------*/
/*--------Case Studies--------------------*/
#case-studies {
  width: 100%;
  font-family: 'Roboto Slab', serif; }
  #case-studies #sh-case-subtitle h2 {
    font-weight: 300; }
    @media (max-width: 35em) {
      #case-studies #sh-case-subtitle h2 {
        font-size: 16px; } }
  #case-studies p {
    font-size: 18px;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0; }
  #case-studies .case-header {
    text-align: center; }
    @media (max-width: 35em) {
      #case-studies .case-header {
        font-size: 20px; } }
  #case-studies .case-pic img {
    float: left;
    width: 100%;
    margin: 0 15px 20px 0;
    max-width: 290px;
    -webkit-boxrder-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px; }
  #case-studies .case-text p {
    font-size: 16px; }
  #case-studies .case-quote {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #362f2d;
    margin: 20px 0 10px 0; }
    @media (max-width: 35em) {
      #case-studies .case-quote {
        font-size: 18px; } }
  #case-studies .case-read-more {
    text-align: right;
    font-size: 14px;
    margin-right: 10px; }
  @media (max-width: 35em) {
    #case-studies {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300;
      width: 100%;
      padding: 0px 0px 0px 0px; }
      #case-studies p {
        font-size: 16px;
        font-weight: 400;
        color: #362f2d;
        margin: 10px 0 10px 0; } }

/*--------End Case Studies--------------------*/
/*--------Benefits --------------*/
#benefits-of-sh {
  background: #c0392b; }
  #benefits-of-sh .benefits-desc {
    margin-left: 5%;
    width: 85%;
    float: right; }
    #benefits-of-sh .benefits-desc h3 {
      font: 20px 'Roboto Slab', serif;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 20px 0; }
      @media (max-width: 35em) {
        #benefits-of-sh .benefits-desc h3 {
          font: 16px 'Roboto Slab', serif;
          font-weight: 300; } }

#benefits-box {
  background: #ffffff;
  margin: 20px auto 20px auto;
  padding: 30px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.benefits-icon {
  width: 10%;
  float: left; }

.benefits-b-e-c {
  margin: 20px 0 20px 0; }

/*--------End Benefits---------*/
/*--------Course Link----------*/
#course-link {
  background: #f1c40f; }
  #course-link #course-box {
    width: 100%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #course-link .course-pic {
    float: left;
    width: 10%; }
    #course-link .course-pic img {
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
  #course-link .course-copy {
    float: left;
    margin: 0 5%;
    width: 50%; }
    #course-link .course-copy h3 {
      margin: 0;
      font: 18px 'Roboto Slab', serif;
      font-weight: 700;
      color: #362f2d; }
    #course-link .course-copy p {
      margin: 10px 0; }
  #course-link .course-btn {
    margin: 15px 0 0 0;
    text-align: center;
    background: #3498DB;
    float: right;
    padding: 10px 20px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
    #course-link .course-btn:hover {
      background: #4EB2F5; }
    #course-link .course-btn a {
      font: 20px 'Roboto Slab', serif;
      color: #ffffff;
      text-decoration: none; }
      @media (max-width: 35em) {
        #course-link .course-btn a {
          font: 14px 'Roboto Slab', serif; } }

/*--------end Course Link------/


/*--------SH-Schedule----------*/
#sh-schedule h2 {
  font: 25px 'Roboto Slab', serif;
  font-weight: 400;
  color: #362f2d;
  margin: 10px 0 10px 0; }
  @media (max-width: 35em) {
    #sh-schedule h2 {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300; } }

#sh-sched-desc-c {
  margin: 60px auto 0 auto; }
  #sh-sched-desc-c h1 {
    font: 30px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #sh-sched-desc-c h1 {
        text-align: center; } }
  #sh-sched-desc-c h2 {
    font: 18px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 30px 0 10px 0; }
  #sh-sched-desc-c h3 {
    font: 20px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 5px 0 15px 0; }
    @media (max-width: 35em) {
      #sh-sched-desc-c h3 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300;
        font-weight: 400; } }
  #sh-sched-desc-c h4 {
    font: 15px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #sh-sched-desc-c h4 {
        font: 12px 'Roboto Slab', serif;
        font-weight: 300; } }

#sh-schedule-left {
  margin: 100px 0 30px 0px;
  text-align: center; }

#sh-schedule-right {
  margin: 30px 0 30px 0; }

#sh-sched-desc-left {
  padding-right: 20px;
  float: left; }

#sh-sched-desc-right {
  float: right; }

.sh-sched-desc-e {
  margin: 5px 0 5px 0;
  padding: 5px; }

.sh-sched-desc-icon {
  float: left;
  width: 10%;
  padding: 8px 0 8px 0; }

.sh-sched-desc-text {
  float: right;
  margin-left: 5%;
  width: 85%; }

/*-------End SH-Scheudle--------*/
/*--------Testimonials----------*/
#sh-testimonials {
  background: #f1c40f; }

#sh-testimonials-subheading {
  margin: 0 0 0 0; }
  #sh-testimonials-subheading h2 {
    font: 18px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: -20px 0 0px 0; }
    @media (max-width: 35em) {
      #sh-testimonials-subheading h2 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }

#sh-t-table {
  background: #ffffff;
  width: 100%;
  margin: -30px 5% 0 5%;
  overflow: hidden;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.table-head {
  background: #3498db; }

.td-gray {
  background: #e5e5e5; }

.td-center-gray {
  text-align: center;
  background: #e5e5e5; }

.td-center-white {
  text-align: center;
  background: #ffffff; }

#written-testimonials-section {
  text-align: center;
  margin: -40px; }
  #written-testimonials-section h2 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0; }
    @media (max-width: 35em) {
      #written-testimonials-section h2 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300; } }
  #written-testimonials-section #testimonial-ss {
    width: 100%;
    background: #fff;
    margin: 15px auto 10px auto;
    padding: 20px 20px 0px 20px;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  #written-testimonials-section .testi-pic {
    float: left;
    width: 10%; }
  #written-testimonials-section .testi-box {
    width: 88%;
    margin-left: 2%;
    float: right;
    text-align: left;
    margin-bottom: 20px; }
  #written-testimonials-section .testi-name {
    font: 16px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    float: left; }
  #written-testimonials-section .testi-loc {
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0; }
  #written-testimonials-section .testi-text {
    font: 14px 'Roboto Slab', serif;
    font-weight: 400;
    font-style: italic;
    color: #362f2d;
    margin: 10px 0 10px 0; }

/*--------End Testimonials----------*/
/*--------Profile--------------------*/
#sh-profile {
  font-family: 'Roboto Slab', serif; }
  #sh-profile #profile-details {
    margin: -20px auto; }
    #sh-profile #profile-details h3 {
      font-weight: 400; }
  #sh-profile #sh-profile-screenshot {
    padding-right: 5%; }
  @media (max-width: 35em) {
    #sh-profile {
      font: 16px 'Roboto Slab', serif;
      font-weight: 300;
      text-align: left;
      font: 14px 'Roboto Slab', serif; } }

/*------End Profile-----------------*/
/*--------Widget--------------------*/
#sh-network {
  width: 100%;
  background: #2980b9;
  text-align: center; }
  #sh-network .widget-block {
    margin-left: 15%;
    width: 70%;
    text-align: center; }
  #sh-network .widget-box {
    width: 60%;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }
  #sh-network h2 {
    font: 20px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 30px 0; }
    @media (max-width: 35em) {
      #sh-network h2 {
        font: 16px 'Roboto Slab', serif;
        font-weight: 300;
        text-align: left;
        font: 16px 'Roboto Slab', serif;
        margin: 10px 0 10px 0; } }

#sh-network-chat {
  margin: 70px 0; }

/*--------End Widget--------------------*/
/*--------Writeup Email course------------------*/
#sh-writeup-email-course .writeup-sub h3 {
  font-weight: 400; }
#sh-writeup-email-course .writeup-sub p {
  font-size: 16px; }
@media (max-width: 35em) {
  #sh-writeup-email-course .writeup-sub {
    font: 16px 'Roboto Slab', serif;
    font-weight: 300; }
    #sh-writeup-email-course .writeup-sub p {
      font-size: 14px; } }
#sh-writeup-email-course #sh-w-pic {
  padding-right: 10%; }
#sh-writeup-email-course .title-dark-s h2 {
  text-align: center;
  margin-bottom: -20px; }
#sh-writeup-email-course .course-content p, #sh-writeup-email-course .course-form p {
  font-size: 16px; }
@media (max-width: 35em) {
  #sh-writeup-email-course .course-content, #sh-writeup-email-course .course-form {
    font: 16px 'Roboto Slab', serif;
    font-weight: 300; }
    #sh-writeup-email-course .course-content h2, #sh-writeup-email-course .course-form h2 {
      font-size: 18px; }
    #sh-writeup-email-course .course-content p, #sh-writeup-email-course .course-content li, #sh-writeup-email-course .course-form p, #sh-writeup-email-course .course-form li {
      font-size: 14px; }
    #sh-writeup-email-course .course-content .ck_subscribe_button, #sh-writeup-email-course .course-form .ck_subscribe_button {
      margin-top: 10px;
      width: 100%; } }
#sh-writeup-email-course #email-course-section {
  margin: -45px 0 0 0; }
#sh-writeup-email-course .course-pic-caption {
  margin: 10px auto;
  font-size: 18px;
  font-style: italic; }
#sh-writeup-email-course #course-testimonials .kevin-photo {
  margin-left: 30%;
  width: 40%; }
#sh-writeup-email-course .sh-w-writeup {
  width: 100%;
  margin: 50px 50px 0 0;
  padding: 0px 10px 10px 100px; }
  #sh-writeup-email-course .sh-w-writeup p {
    font: 18px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0; }
  @media (max-width: 35em) {
    #sh-writeup-email-course .sh-w-writeup {
      width: 100%;
      padding: 0px 0px 0px 0px; }
      #sh-writeup-email-course .sh-w-writeup p {
        font: 16px 'Roboto Slab', serif;
        font-weight: 400;
        color: #362f2d;
        margin: 10px 0 10px 0; } }

/*--------End Writeup--------------*/
/* ==========================================================================
   Print styles
   ========================================================================== */
/*---I'm not sure what the stuff below does...if anything at all. --Kevin 2/10/2014*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
