/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

img.responsive-image{
  max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.clear{
    clear: both;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

// For tabelts and mid-sized mobile devices. Typically 54em; but set here at 767px for Bootstrap compatibility.

@mixin mq-tablet {
  @media (max-width: 54em) {
    @content;
  }
}

// For smartphones and personal (small) mobile devices. Typically 30em.
@mixin mq-personal {
  @media  (max-width: 35em) {
    @content;
  }
}

@mixin mobile-readable-font {
  font: 16px 'Roboto Slab', serif;
  font-weight: 300;
}

@mixin mobile-table-font {
  font: 12px 'Roboto Slab', serif;
  font-weight: 300;
}


@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*----- Typography


font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
-------*/


.title h1{
    font: 50px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-align: center;
    @include mq-personal {
      font: 30px 'Roboto Slab', serif;
    }
}

.title-s h1{
    font: 36px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    text-align: center;

    @include mq-personal {
      font: 24px 'Roboto Slab', serif;
    }
}

.title-dark h1{
    font: 50px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    text-align: center;
    @include mq-personal {
      font: 30px 'Roboto Slab', serif;
    }

}

.title-dark-s h1{
    font: 36px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    text-align: center;
    @include mq-personal {
      font: 24px 'Roboto Slab', serif;
    }
}

.title-dark-xs h1{
    font: 30px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    text-align: center;

    @include mq-personal {
      font: 24px 'Roboto Slab', serif;
    }
}


.td-title{
    font: 16px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0 10px 0;
    text-align: center;

    @include mq-personal {
      @include mobile-table-font
    }
}

td{
    padding: 8px;
}

td p{
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0;

    @include mq-personal {
      @include mobile-table-font
    }
}

.td-center-gray p{
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0;

    @include mq-personal {
      @include mobile-table-font
    }
}

.td-center-white p{
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0;

    @include mq-personal {
      @include mobile-table-font
    }
}


.testi-name{
    font: 16px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 0;
    float: left;

}

.testi-loc{
    font: 16px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 0;

}

.testi-text{
    font: 14px 'Roboto Slab', serif;
    font-weight: 400;
    font-style: italic;
    color: #362f2d;
    margin: 10px 0 10px 0;
}


/*----- end of  Typography  -------*/


/*------Common to all -------------*/


.content-container{
  padding: 20px 0 20px 0;
}

.line-separator{
  background: url(../img/line-separator.jpg) repeat-x;
  height: 4px;
  width: 100%;
}

.line-separator-white{
  background: #ffffff;
  height: 4px;
  width: 100%;
}


.trial-btn{
  margin: 0 0 60px 0;
  text-align: center;

  a {
    background: #27ae60;
    width: 100%;
    height: 60px;
    margin: 30px auto 0 auto;
    padding: 10px 45px 10px 45px;

    font: 28px 'Roboto Slab', serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

    @include mq-personal {
    font: 14px 'Roboto Slab', serif;
    }

    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;

    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);

    &:hover {
        background: #30c26e;
   }
  }
}

.not-phone {
  @include mq-personal {
    display: none;
  }

}


/*-------End Common to all--------*/



/*----- Header -------------------*/

header{
    background: #c0392b;
    height: 48px;
    padding-top: 7px;
}

#logo{
  float: left;
  @include mq-personal {
    max-width: 30%;
  }

}

#head-login{
    float: right;
    text-align: right;

}

#head-login ul{
    list-style-type:none;
    display: inline;
    padding: 0;
    margin: 0;
}

#head-login li{
    float: left;
    margin: 0 5px 0 5px;
    color: #ffffff;

}

#head-login a{
    text-decoration: none;
    font: 16px 'Roboto Slab', serif;
    font-weight: regular;
    color: #ffffff;

    @include mq-personal {
    font: 12px 'Roboto Slab', serif;
    }
}

#head-login a:hover{
    text-decoration: none;
    font: 16px 'Roboto Slab', serif;
    font-weight: regular;
    color: #f1c40f;

    @include mq-personal {
    font: 12px 'Roboto Slab', serif;
    }
}


/*--------End of Header --------*/



/*--------Intro ----------------*/


#intro{
  width: 100%;
  background: #d35400;
  padding: 30px 0 0 0;
  text-align: center;

  h1 {
      font: 50px 'Roboto Slab', serif;
      font-weight: bold;
      color: #ffffff;
      margin: 0;

      @include mq-personal {
        font: 24px 'Roboto Slab', serif;
      }
    }

  h2 {
      font: 24px 'Roboto Slab', serif;
      font-weight: 300;
      color: #ffffff;
      margin: 30px 0 70px 0;

      @include mq-personal {
        font: 18px 'Roboto Slab', serif;
        font-weight: 300;
      }
    }
}



/*-------End of Intro--------------*/


/*-------Sub-Intro----------------*/


#sub-intro{

  h3{
    font: 16px 'Roboto Slab', serif;
    color: #362f2d;
    margin: 10px 0 10px 0;
  }
}


#si-left{
  padding-right: 20px;
  margin-top: 50px;

}

#si-right{
}


/*--------End Sub-Intro----------*/


/*-------How SH Works------------*/


#how-sh-works{
  background: #2980b9;
  padding: 20px 0 20px 0;
  text-align: center;

  h3{
    font: 20px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 10px 0 10px 0;

    @include mq-personal {
      @include mobile-readable-font;
    }
  }
}

.h-sh-w-image{
  margin: 15px auto 15px auto;
  text-align: center;
}


/*-------End How SH Works--------*/


/*--------Benefits --------------*/

#benefits-of-sh{
  background: #c0392b;

  .benefits-desc{
    margin-left: 5%;
    width: 85%;
    float: right;

    h3{
      font: 20px 'Roboto Slab', serif;
      font-weight: 300;
      color: #362f2d;
      margin: 0px 0 20px 0;

      @include mq-personal {
        @include mobile-readable-font;
      }
    }
  }
}

#benefits-box{
  background: #ffffff;
  margin: 20px auto 20px auto;
  padding: 30px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.benefits-icon{
    width: 10%;
    float: left;
}


.benefits-b-e-c{
    margin: 20px 0 20px 0;
}


/*--------End Benefits---------*/


/*--------SH-Schedule----------*/

#sh-schedule{

  h2{
    font: 25px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0;
    @include mq-personal {
      @include mobile-readable-font;
    }
  }

}

#sh-sched-desc-c{
  margin: 60px auto 0 auto;

  h1{
    font: 30px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 10px 0 10px 0;

    @include mq-personal {
      text-align: center;
    }
  }

  h2{
    font: 18px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 30px 0 10px 0;
  }

  h3{
    font: 20px 'Roboto Slab', serif;
    font-weight: bold;
    color: #362f2d;
    margin: 5px 0 15px 0;

    @include mq-personal {
      @include mobile-readable-font;
      font-weight: 400;
    }
  }

  h4{
    font: 15px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0;

    @include mq-personal {
      font: 12px 'Roboto Slab', serif;
      font-weight: 300;
    }
  }
}


#sh-schedule-left{
  margin: 100px 0 30px 0px;
  text-align: center;
}

#sh-schedule-right{
  margin: 30px 0 30px 0;
}


#sh-sched-desc-left{
  padding-right: 20px;
    float: left;
}

#sh-sched-desc-right{
    float: right;
}

.sh-sched-desc-e{
    margin: 5px 0 5px 0;
    padding: 5px;
}
.sh-sched-desc-icon{
    float: left;
    width: 10%;
    padding: 8px 0 8px 0;
}

.sh-sched-desc-text{
    float: right;
    margin-left: 5%;
    width: 85%;
}

/*-------End SH-Scheudle--------*/


/*--------Testimonials----------*/

#sh-testimonials{
  background: #f1c40f;
}

#sh-testimonials-subheading{
  margin: 30px 0 50px 0;

  h2{
    font: 24px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0;

    @include mq-personal {
      @include mobile-readable-font;
    }
  }
}

#sh-t-table{
    background: #ffffff;
    width: 90%;
    margin: 30px 5% 50px 5%;
    overflow: hidden;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}


.table-head{
    background: #3498db;
}

.td-gray{
    background: #e5e5e5;
}

.td-center-gray{
    text-align: center;
    background: #e5e5e5;
}

.td-center-white{
    text-align: center;
    background: #ffffff;
}

#testimonial-ss{
    width: 80%;
    background: #fff;
    margin: 25px auto;
    text-align: center;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.testimonial-container{
    padding: 40px 40px 20px 40px;
}

.testi-pic{
    float: left;
    width: 10%;
}

.testi-box{
    width: 85%;
    margin-left: 5%;
    float: right;
    text-align: left;
    margin-bottom: 20px;
}

/*--------End Testimonials----------*/


/*--------Profile--------------------*/

#sh-profile-screenshot{
    margin: 30px auto;
    text-align: center;
}


/*------End Profile-----------------*/


/*--------Network--------------------*/

#sh-network{
  width: 100%;
  background: #d35400;
  text-align: center;

  h2 {
    font: 24px 'Roboto Slab', serif;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 30px 0;

    @include mq-personal {
      @include mobile-readable-font;
      text-align: left;
    }
  }
}

#sh-network-chat{
  margin: 70px 0;
}

/*--------End Network--------------------*/


/*--------Writeup------------------*/


#sh-w-pic {
  float: left;
  margin: 20px 20px 0 100px;
}

.sh-w-writeup {
  width: 70%;
  margin: 50px 50px 0 0;
  padding: 0px 10px 10px 100px;

  p {
    font: 18px 'Roboto Slab', serif;
    font-weight: 400;
    color: #362f2d;
    margin: 10px 0 10px 0;
  }

  @include mq-personal {
    width: 100%;
    padding: 0px 0px 0px 0px;

    p {
      font: 16px 'Roboto Slab', serif;
      font-weight: 400;
      color: #362f2d;
      margin: 10px 0 10px 0;
    }
//    @include mobile-readable-font;
//    text-align: left;
  }
}

/*--------End Writeup--------------*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}