.font-container-template {
    display: none;
}

.font-container {
    display: table;
}

.logo {
    font-family: 'Swanky and Moo Moo';
    font-weight: bold !important;
}

.orange {
    background: #d35400;
    padding: 5px;
    float: left;
    height: 75px;
}

.black {
    background: #313131;
    padding: 5px;
    float: left;
    height: 75px;
}

.color {
    height: 100%;
    padding: 5px;
    float: left;    
    height: 75px;
}

.color h2 {
    margin-top: 25px;
}