/*@font-face {
    font-family: 'Daniel';
    src: url('daniel.ttf') format('truetype');
}
*/
.font-container-template {
    display: none;
}

.font-container {
    display: table;
}

.logo {
    font-family: 'Swanky and Moo Moo';
    font-weight: bold !important;
}

.orange {
    background: #cc683d;
    padding: 5px;
    float: left;
    height: 75px;
}

.black {
    background: #29221F;
    padding: 5px;
    float: left;
    height: 75px;
}

.white {
    background: #ffffff;
    padding: 0 40px;
    float: left;
    height: 75px;
}

.color {
    height: 100%;
    padding: 5px;
    float: left;
    height: 75px;
}

h1 {
  font-size: 80px;
  margin-top: -10px;
}

h2 {
  font-size: 22xpx;
  margin-top: 25px;
}